---
---

@import "{{ site.theme }}";

body{
    color: black !important;
    font-family: monospace !important;
}

.page-header{
    color:white;
    background-color: unset;
    background-image: unset;
    background:url("https://johndoeopensource.github.io/SquadSATCOM/assets/squad_cover_pic.jpg");
}